{% extends "layout.html" %}

{% block title %}
Announcements
{% endblock %}

{% block main %}

<div class="row gray2" style="margin-top:20px; margin-left:60px; margin-right:60px; padding:20px">
    <div class="col-6">
        <img src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}"
            class="rounded-circle article-img" style="width:50px; margin:5px">
        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}" style="">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
            <div>
                <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            </div>
        {% endif %}
    </div>
    <hr style="margin:3px">
</div>
<div class="row gray2" style="margin-left:60px; margin-right:60px;">
    <div class="col">
        <h2 style="padding-left:20px; padding-top:0px; margin-top:0px">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel" style="color:black">Delete Post?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Go Back</button>
                <form action="{{ url_for('posts.delete_post', post_id=post.id )}}" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}