{% extends "layout.html" %}

{% block title %}
General Events
{% endblock %}

{% block main %}
<div class="fadeInBottom background-image-6">
    <div class="header" style="padding-top:50px">GENERAL EVENTS</div>
</div>

<div class="container" style="padding:60px">
    <div class="row justify-content-center">
        <div class="col-sm">
            <div class="card text-white gray2 mb-3" style="width: 18rem;">
                <img src="/static/images/icfcampusequip.png" class="card-img-top" alt="Campus Equip">
            <div class="card-body">
                <h5 class="basic-text card-title">Campus Equip</h5>
                <p class="basic-text card-text">
                During the UCLA fall quarter, IBC will be holding a Campus Equip Class on Tuesdays from 7-9pm at UCLA. We'll have pastoral teaching from God's Word and time for the sharing of Christ with one another, similar to the IBC Equip Class offerings on Sundays.
                </p>
                <a href="mailto:christopherctai@gmail.com" class="btn btn-outline-light">Email for Info</a>
            </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white gray2 mb-3" style="width: 18rem;">
            <img src="/static/images/icfevtraining.png" class="card-img-top" alt="IBC EV Training Course">
            <div class="card-body">
                <h5 class="basic-text card-title">EV Training Course</h5>
                    <p class="basic-text card-text">
                    If you would like to learn how to share the comprehensive gospel with unbelievers, join our EV training course this Fall quarter at UCLA on Thursdays from 7-9pm at UCLA. You will learn the theology of evangelism and practice sharing the gospel through interactive exercises.
                    </p>
                <a href="mailto:christopherctai@gmail.com" class="btn btn-outline-light">Email for Info!</a>
            </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white gray2 mb-3" style="width: 18rem;">
            <img src="/static/images/icfweeklyevents.png" class="card-img-top" alt="IBC Baptism Service">
            <div class="card-body">
                <h5 class="basic-text card-title">Weekly Flock</h5>
                <p class="basic-text card-text">
                IBC families get together for Bible study and fellowship weekly on Friday from 7:30pm-9pm. Occurs at various members homes in West and East Los Angeles.
                </p>
                <a href="mailto:christopherctai@gmail.com" class="btn btn-outline-light">Email for Info!</a>
            </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white gray2 mb-3" style="width: 18rem;">
            <img src="icfcampusequip.png" class="card-img-top" alt="IBC Baptism Service">
            <div class="card-body">
                <h5 class="basic-text card-title">Campus Evangelism</h5>
                <p class="basic-text card-text">
                    Immanuel Bible Church holds a monthly campus evangelism on the last Saturday of the month from 2pm-4:30pm. We will be meeting at UCLA's Wilson Plaza at the foot of Janss steps, breaking off into small groups to share the gospel with unbelievers and invite them to church, then regrouping after a few hours and getting dinner together afterward.
                </p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScb8Tw99PpJBVOMXirvQB9wjU3bAjwMD_jM38N4u6oMwDPn_Q/viewform" target="_blank" class="btn btn-outline-light">RSVP Here!</a>
            </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white gray2 mb-3" style="width: 18rem;">
            <img src="icfevtraining.png" class="card-img-top" alt="IBC Baptism Service">
            <div class="card-body">
                <h5 class="basic-text card-title">Prayer Meeting</h5>
                <p class="basic-text card-text">
                    Every last Sunday, IBC holds a prayer meeting at 8am in room 202 in the Education Building, where we pray corporately for the members of our church, the spread of the gospel, the state of the world, all to the glory of our Lord and Savior.
                </p>
            </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white gray2 mb-3" style="width: 18rem;">
            <img src="icfweeklyflock.png" class="card-img-top" alt="IBC Baptism Service">
            <div class="card-body">
                <h5 class="basic-text card-title">ICF On Campus</h5>
                <p class="basic-text card-text">
                    On the first Friday of every month, we have an all-ICF meeting on campus in Bunche 1209B from 7-9pm. It's an awesome time of worship, testimonies, devotionals, small groups, and ultimately fellowship together as a body!
                </p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf_nQspsuEweTkC9iypuFmg0ZnHwIhU5TpC-zJ0_dDRWJ3bsA/viewform" target="_blank" class="btn btn-outline-light">RSVP Here!</a>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}