{% extends "layout.html" %}

{% block title %}
Staff Leadership
{% endblock %}

{% block main %}
    <div class="fadeInBottom background-image-3">
        <div class="header" style="padding-top:50px">STAFF LEADERSHIP</div>
    </div>

    <div class="container" style="padding-top:50px">
        <div class="row justify-content-center">
            <div class="col">
                <div class="card text-white gray2 mb-3">
                    <img class="card-img-top img-fluid">
                    <div class="card-body basic-text">
                        <h5 class="card-title" style="font-size:250%">Bryant Huang</h5>
                        <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                            Growing up in Rowland Heights, Bryant was graciously saved by God during high school. He went on to study Linguistics & Computer Science at UCLA and also in grad school at USC. While serving in the local church, he discovered the incomparable joy of teaching the Bible and seeing it bear fruit in people’s lives (Colossians 1:28), which led him to obtain an M.Div. from The Master’s Seminary to be better equipped to feed and shepherd God’s people. Bryant loves ministering at IBC with his wife Juliette and their four children, especially among our college students. While not serving in ministry, he works as a software engineer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white gray2 mb-3">
                    <img class="card-img-top img-fluid">
                    <div class="card-body basic-text">
                        <h5 class="card-title" style="font-size:250%">Ben</h5>
                        <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                            Insert Staffer Bio Here
                        </p>
                        </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="card text-white gray2 mb-3">
                    <img class="card-img-top img-fluid">
                    <div class="card-body basic-text">
                        <h5 class="card-title" style="font-size:250%">Ed</h5>
                        <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                            Insert Staffer Bio
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white gray2 mb-3">
                    <img class="card-img-top img-fluid">
                    <div class="card-body basic-text">
                        <h5 class="card-title" style="font-size:250%">Heywood</h5>
                        <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                            Insert Staffer Bio Here
                        </p>
                        </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="card text-white gray2 mb-3">
                    <img class="card-img-top img-fluid">
                    <div class="card-body basic-text">
                        <h5 class="card-title" style="font-size:250%">Howard</h5>
                        <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                            Insert Staffer Bio
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white gray2 mb-3">
                    <img class="card-img-top img-fluid">
                    <div class="card-body basic-text">
                        <h5 class="card-title" style="font-size:250%">Jenn</h5>
                        <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                            Insert Staffer Bio Here
                        </p>
                        </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="card text-white gray2 mb-3">
                    <img class="card-img-top img-fluid">
                    <div class="card-body basic-text">
                        <h5 class="card-title" style="font-size:250%">Juliette</h5>
                        <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                            Insert Staffer Bio
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white gray2 mb-3">
                    <img class="card-img-top img-fluid">
                    <div class="card-body basic-text">
                        <h5 class="card-title" style="font-size:250%">Kev</h5>
                        <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                            Insert Staffer Bio Here
                        </p>
                        </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="card text-white gray2 mb-3">
                    <img class="card-img-top img-fluid">
                    <div class="card-body basic-text">
                        <h5 class="card-title" style="font-size:250%">Sharlene</h5>
                        <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                            Insert Staffer Bio
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white gray2 mb-3">
                    <img class="card-img-top img-fluid">
                    <div class="card-body basic-text">
                        <h5 class="card-title" style="font-size:250%">Silvie</h5>
                        <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                            Insert Staffer Bio Here
                        </p>
                        </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="card text-white gray2 mb-3">
                    <img class="card-img-top img-fluid">
                    <div class="card-body basic-text">
                        <h5 class="card-title" style="font-size:250%">TJ</h5>
                        <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                            Insert Staffer Bio
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white gray2 mb-3">
                    <img class="card-img-top img-fluid">
                    <div class="card-body basic-text">
                        <h5 class="card-title" style="font-size:250%">Yejin</h5>
                        <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                            Insert Staffer Bio Here
                        </p>
                        </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="card text-white gray2 mb-3">
                    <img class="card-img-top img-fluid">
                    <div class="card-body basic-text">
                        <h5 class="card-title" style="font-size:250%">Insert Staffer</h5>
                        <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                            Insert Staffer Bio
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white gray2 mb-3">
                    <img class="card-img-top img-fluid">
                    <div class="card-body basic-text">
                        <h5 class="card-title" style="font-size:250%">Insert Staffer</h5>
                        <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                            Insert Staffer Bio Here
                        </p>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}