{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h2>Sell Stocks</h2>
    </div>
    <div class="mb-3">
        <form action="/sell" method="post">
            <div class="mb-3">
                <select name="symbol" autofocus>
                    {% for symbol in unique_stocks %}
                        <option name="symbol" value="{{symbol}}">{{symbol}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <input name="shares" id="shares" autocomplete="off" class="form-control mx-auto w-auto" placeholder="Number of Shares" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Sell Stock</button>
        </form>
    </div>

    </div>
{% endblock %}