{% extends "layout.html" %}

{% block title %}
Special Events
{% endblock %}

{% block main %}
<div class="fadeInBottom background-image-10">
    <div class="header" style="padding-top:50px">SERVE</div>
</div>

<div class="header gray2">OPEN TO ALL</div>

<div class="container" style="padding:60px">
    <div class="row justify-content-center">
        <div class="col-sm">
            <div class="card text-white gray2 mb-3" style="width: 18rem;">
                <img src="/static/images/icfcampusequip.png" class="card-img-top" alt="Campus Equip">
            <div class="card-body">
                <h5 class="basic-text card-title">Clean Up</h5>
                <p class="basic-text card-text">
                Clean Up Description
                </p>
                <a href="mailto:christopherctai@gmail.com" class="btn btn-outline-light">Email for Info</a>
            </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white gray2 mb-3" style="width: 18rem;">
            <img src="/static/images/icfevtraining.png" class="card-img-top" alt="IBC EV Training Course">
            <div class="card-body">
                <h5 class="basic-text card-title">Lunch</h5>
                    <p class="basic-text card-text">
                        Lunch Description
                    </p>
                <a href="mailto:christopherctai@gmail.com" class="btn btn-outline-light">Email for Info!</a>
            </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white gray2 mb-3" style="width: 18rem;">
            <img src="/static/images/icfweeklyevents.png" class="card-img-top" alt="IBC Baptism Service">
            <div class="card-body">
                <h5 class="basic-text card-title">Parking</h5>
                <p class="basic-text card-text">
                    Parking Description
                </p>
                <a href="mailto:christopherctai@gmail.com" class="btn btn-outline-light">Email for Info!</a>
            </div>
        </div>
      </div>
      </div>
    </div>
</div>
{% endblock %}