{% extends "layout.html" %}

{% block title %}
Student Leadership
{% endblock %}

{% block main %}
<div class="fadeInBottom background-image-4">
    <div class="header" style="padding-top:50px">STUDENT LEADERSHIP</div>
</div>

<div class="container" style="padding-top:50px">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card text-white gray2 mb-3">
                <img class="card-img-top img-fluid">
                <div class="card-body basic-text">
                    <h5 class="card-title" style="font-size:250%">Brenda</h5>
                    <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                        Insert Student Bio Here
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white gray2 mb-3">
                <img class="card-img-top img-fluid">
                <div class="card-body basic-text">
                    <h5 class="card-title" style="font-size:250%">Chris</h5>
                    <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                        Insert Student Bio Here
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="card text-white gray2 mb-3">
                <img class="card-img-top img-fluid">
                <div class="card-body basic-text">
                    <h5 class="card-title" style="font-size:250%">Elaine</h5>
                    <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                        Insert Student Bio
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white gray2 mb-3">
                <img class="card-img-top img-fluid">
                <div class="card-body basic-text">
                    <h5 class="card-title" style="font-size:250%">Elijah</h5>
                    <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                        Insert Student Bio Here
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="card text-white gray2 mb-3">
                <img class="card-img-top img-fluid">
                <div class="card-body basic-text">
                    <h5 class="card-title" style="font-size:250%">Ellie</h5>
                    <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                        Insert Student Bio Here
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white gray2 mb-3">
                <img class="card-img-top img-fluid">
                <div class="card-body basic-text">
                    <h5 class="card-title" style="font-size:250%">Isaiah</h5>
                    <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                        Insert Student Bio Here
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="card text-white gray2 mb-3">
                <img class="card-img-top img-fluid">
                <div class="card-body basic-text">
                    <h5 class="card-title" style="font-size:250%">Nathan</h5>
                    <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                        Insert Student Bio
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white gray2 mb-3">
                <img class="card-img-top img-fluid">
                <div class="card-body basic-text">
                    <h5 class="card-title" style="font-size:250%">Insert Student</h5>
                    <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                        Insert Student Bio Here
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="card text-white gray2 mb-3">
                <img class="card-img-top img-fluid">
                <div class="card-body basic-text">
                    <h5 class="card-title" style="font-size:250%">Insert Student</h5>
                    <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                        Insert Student Bio
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white gray2 mb-3">
                <img class="card-img-top img-fluid">
                <div class="card-body basic-text">
                    <h5 class="card-title" style="font-size:250%">Insert Student</h5>
                    <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                        Insert Student Bio Here
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="card text-white gray2 mb-3">
                <img class="card-img-top img-fluid">
                <div class="card-body basic-text">
                    <h5 class="card-title" style="font-size:250%">Insert Student</h5>
                    <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                        Insert Student Bio
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white gray2 mb-3">
                <img class="card-img-top img-fluid">
                <div class="card-body basic-text">
                    <h5 class="card-title" style="font-size:250%">Insert Student</h5>
                    <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                        Insert Student Bio Here
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="card text-white gray2 mb-3">
                <img class="card-img-top img-fluid">
                <div class="card-body basic-text">
                    <h5 class="card-title" style="font-size:250%">Insert Student</h5>
                    <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                        Insert Student Bio
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white gray2 mb-3">
                <img class="card-img-top img-fluid">
                <div class="card-body basic-text">
                    <h5 class="card-title" style="font-size:250%">Insert Student</h5>
                    <p class="card-text" style="padding-top:10px; padding-bottom:20px">
                        Insert Student Bio Here
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}