{% extends "layout.html" %}

{% block title %}
Sunday Service
{% endblock %}

{% block main %}

<div class="fadeInBottom background-image-5">
    <div class="header" style="padding-top:50px">SUNDAY SERVICE</div>
</div>

<div class="header gray2">ORDER OF WORSHIP</div>

<div class="container gray1" style="margin-top:30px; padding-left:0px; padding-right:0px">
    <div class="row justify-content-center" style="font-size:250%; text-align:center">
        <div class="col" style="padding:20px">
            <p style="font-size:55%; text-align:center; padding:20px">9:00AM-10:30AM - Sunday Worship</p>
            <p style="font-size:55%; text-align:center; padding:20px">10:30AM-11:00AM - Fellowship</p>
            <p style="font-size:55%; text-align:center; padding:20px">11:00AM-12:00PM - Equip Hour</p>
            <p style="font-size:55%; text-align:center; padding:20px">12:00PM - Lunch (2nd, 4th, 5th Sundays)</p>
            <p style="font-size:55%; text-align:center; padding:20px">1:00PM - Member's Meeting (4th Sunday Quarterly)</p>
        </div>
        <div class="col" style="padding:50px">
            <p style="text-align:center; padding:30px; font-size:80%">SIGN UP FOR RIDES HERE!</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfjOKT6_yMXv6Zd47cGVgrPWIPf43g_UqdCQ8GOibKgSQNRDw/viewform" target="_blank" class="btn btn-lg btn-outline-info" style="width:100%">Rides From UCLA</a>
            <br>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScRpomXatgwd5_VPTa6Ieq4CUfYswsc6w2c-1ktV6oMkFlXjw/viewform" target="_blank" class="btn btn-lg btn-outline-danger" style="width:100%">Rides From USC</a>
        </div>
    </div>
</div>

{% endblock %}